#app header {
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 16px 18px;
}

#app header h1.logo {
    color: #F00;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
}

#app header nav {
    color: #FFF;
    font-size: 28px;
    font-weight: 400;
}

#app header nav ul {
    display: flex;
    column-gap: 15px;
}

#app header nav ul li {
    cursor: pointer;
}