#app .Landing main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
    background: url("./landing_ellipse.svg") left -25px / auto auto no-repeat;
}

#app .Landing main .slogan {
    color: #fff;
    align-self: flex-start;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-left: 25px;
}

#app .Landing main .slogan span {
    color: #F00;
}

#app .Landing main .main_text_container {
    color: #000;
    font-size: 54px;
    font-weight: 400;
    line-height: normal;
    padding: 0 120px;
    box-sizing: border-box;
}